@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        <b>Our History</b> - We started of as a small bunch of kids enthuastic of Tech, there parents helped out with some projects they created. After that, the kids just grew into a larger community of Specialists, and eventualy into the AM you see today.
    </p>

    <p>
        <b>Our Passion</b> - Our passion has, and always will be, to bring High-Performance technology, that can be used for business work, but that can be used at home for fun as well!
    </p>

    <p>
        <b>Our Vision</b> - Our current vision is that computers being designed for Business, can only be used for Business, and computers that are being built for Home, can only be used at home. At AM Enterprises UK, we aim to change that once and for all, with great performance technology, that is fully compatible for Home games and Business Documents.
    </p>
</article>