@{
    ViewBag.Title = "Home";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to our site!</h1>
                <h2>the official home of technology!</h2>
            </hgroup>
            <p>
                This site contains lots of importamt information, products, and files for staff. Feel free to drop in a message at Contact us, or whatever else you feel like doing.
            </p>
            <h1>Happy clicking!</h1>
        </div>
    </section>
}